apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: iranvault-ingress
  namespace: iranvault-prod
spec:
  rules:
  - host: app.domain.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend
            port:
              number: 80

  - host: api.domain.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: api-gateway
            port:
              number: 80