apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: iranvault-prod
  annotations:
    prometheus.io/scrape: "false"  # Don't scrape prometheus itself
spec:
  selector:
    app: prometheus
  ports:
  - port: 9090
    targetPort: 9090
  type: ClusterIP