apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: prod
spec:
  selector:
    app: api-gateway
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
  type: ClusterIP