apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: iranvault-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: ghcr.io/mb6226/iranvault-auth-service:1.0.0
        ports:
        - containerPort: 3000
        envFrom:
        - configMapRef:
            name: iranvault-config
        - secretRef:
            name: iranvault-secrets
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 5
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 15
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"