apiVersion: apps/v1
kind: Deployment
metadata:
  name: wallet-service
  namespace: iranvault-prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: wallet-service
  template:
    metadata:
      labels:
        app: wallet-service
    spec:
      containers:
      - name: wallet-service
        image: ghcr.io/mb6226/iranvault-wallet-service:1.0.0
        ports:
        - containerPort: 3000
        env:
        - name: DATABASE_URL
          value: postgres://$(DB_USER):$(DB_PASSWORD)@wallet-postgres:5432/wallet
        envFrom:
        - configMapRef:
            name: iranvault-config
        - secretRef:
            name: iranvault-secrets
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
        resources:
          requests:
            cpu: "150m"
            memory: "256Mi"
          limits:
            cpu: "700m"
            memory: "768Mi"