apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: iranvault-prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: ghcr.io/mb6226/iranvault-order-service:1.0.0
        ports:
        - containerPort: 3000
        env:
        - name: AUTH_SERVICE_URL
          value: http://auth-service
        - name: WALLET_SERVICE_URL
          value: http://wallet-service
        - name: MATCHING_ENGINE_URL
          value: http://matching-engine
        envFrom:
        - configMapRef:
            name: iranvault-config
        - secretRef:
            name: iranvault-secrets
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "1"
            memory: "1Gi"